footer {
    background-color: rgb(29, 29, 29);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: max-content;
    user-select: none;
}

.autors {
    padding-top: 0.5vw;
    color: white;
    text-align: end;
    margin-right: 2vw;
}

a {
    text-decoration: none;
}

@media (max-width:1080px) {
    
    footer {
        position: fixed;
    }
    
    .autors {
        font-size: 50%;
    }
}