header {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(29, 29, 29);
    z-index: 998;
    top: 0;
    position: fixed;
}

header a {
    text-decoration: none;
    color: white;
    margin-left: 1vw;
    user-select: none;
    margin-right: 1vw;
}

header input {
    width: 50%;
    background-color: rgb(44, 44, 44);
    border: none;
    border-radius: 0.2vw;
    outline: none;
    color: white;
    font-size: 100%;
}

header a:hover {
    color: rgb(192, 192, 192);
}

.up {
    opacity: 0;
    position: fixed;
    font-size: 1vw;
    margin: 0 0.7vw;
    padding: 0.3vw 0.3vw;
    height: 100%;
    color: white;
    transition: 300ms;
}

.up:hover {
    opacity: 1;
    visibility: visible;
    transition: 300ms;
}

.dropbtn {
    background-color: rgb(29, 29, 29);
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 1vw;
    font-size: 100%;
}

.dropbtn:hover {
    color: grey;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(44, 44, 44);
    min-width: max-content;
    padding: 5px 0;
    z-index: 999;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: grey
}

.show {
    display: block;
}

.menu_mini_screen {
    display: none;
}

.menu_mini_screen hr {
    margin: 5px 0;
}

@media (max-width:1080px) {
    .menu_big_screen {
        display: none;
    }

    .menu_mini_screen {
        display: block;
        margin-right: 10vw;
    }
}

@media (max-width:620px) {
    .menu_mini_screen {
        margin-right: 13vw;
        display: block;
    }

    header input {
        width: 30%;
    }
}

@media (max-width:450px) {
    .menu_mini_screen {
        margin-right: 15vw;
    }

    header input {
        width: 20%;
    }
}