
.circle {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    width: 92%;
}

.circle img {
    margin: 3vw auto;
    width: 90%;
    object-fit: cover;
}

hr {
    margin-bottom: 2vw;
}