/* Стили */
@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/COMFORTAA.TTF');
}

* {
    margin: 0;
    padding: 0;
    font-family: Comfortaa;
}

body {
    background-color: rgb(44, 44, 44);
}

hr {
    background-color: white;
    color: white;
}

main {
    width: 90%;
    min-height: min-content;
    margin: 0 auto;
    margin-bottom: 2vw;
    background-color: rgb(29, 29, 29);
    flex-direction: column;
    padding-bottom: 5vw;
    margin-top: 80px;
}

/* Категории */
.info {
    color: white;
    font-size: 4vw;
    margin-left: 4vw;
    margin-top: 4vw;
}

/* Блоки с товарами */
.blocks {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.block a {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin: 2vw auto;
}

.block a:hover {
    color: grey;
}

.block img {
    width: 20vw;
    height: 20vw;
    padding: 0.2vw;
    border: 0.2vw solid rgb(255, 255, 255);
    border-radius: 0.5vw;
    margin-bottom: 1vw;
    object-fit: cover;
}

.block img:hover {
    border: 0.2vw solid grey;
}

@media (max-width:1080px) {

    main {
        margin-top: 80px;
    }

}

@media (max-width:620px) {

    main {
        margin-top: 60px;
    }

}